.players {
  display: flex;
  flex-direction: column;

  &List {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &Controls {
    display: flex;
    justify-content: space-between;

    &Button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 40px;
      width: 256px;
      height: 48px;
      border: 2px solid #ebebeb;
      border-radius: 8px;
      background-color: transparent;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.0625em;
      color: #ebebeb;
      font-family: 'Open Sans', sans-serif;
      transition: 0.5s all ease-in-out;
      cursor: pointer;
      overflow: hidden;

      &:not(:last-of-type) {
        margin-right: 40px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -25%;
        left: -50%;
        z-index: 1;
        width: 50%;
        height: 100%;
        background: linear-gradient(
          135deg,
          rgba(#ebebeb, 0.15),
          rgba(#ebebeb, 0.05)
        );
        backdrop-filter: blur(4px);
        box-shadow: 0 0 8px rgba(#ebebeb, 1), 0 0 8px rgba(#ebebeb, 0.5),
          0 0 16px rgba(#ebebeb, 0.25);
        transition: 0.25s all ease-in-out;
        transform: rotate(135deg);
      }

      &:hover {
        color: #ebebeb;

        &::before {
          left: 100%;
          transition: 0.25s all ease-in-out;
        }
      }
    }

    &CheckButton {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      margin-left: 40px;

      &Label {
        text-align: center;
        width: 120px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.0625em;
        color: #ebebeb;
        font-family: 'Open Sans', sans-serif;
      }

      &Switch {
        display: inline-block;
        position: relative;
        width: 72px;
        height: 48px;
        margin-left: 20px;
        border: 2px solid #ebebeb;
        border-radius: 24px;
        cursor: pointer;

        &:hover {
          border-color: transparent;
          transition: 0.25s all ease-in-out;
          animation: hoverFlickering 1.5s ease-in-out infinite;
          animation-delay: 0.25s;
        }

        &Track {
          content: '';
          position: absolute;
          top: 14px;
          left: 16px;
          width: 36px;
          height: 16px;
          z-index: 1;
          border-radius: 8px;
          background-color: #282828;
          overflow: hidden;
          transition: 0.25s all ease-in-out;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: #d7d7d7;
            transition: 0.25s all ease-in-out;
          }

          &.active {
            &::after {
              left: 0;
            }
          }
        }

        &::after {
          content: '';
          position: absolute;
          top: 10px;
          left: 12px;
          width: 24px;
          height: 24px;
          z-index: 1;
          border-radius: 50%;
          background-color: #afafaf;
          transition: 0.25s all ease-in-out;
        }

        &.active {
          &::after {
            left: 32px;
            background-color: #ebebeb;
          }
        }
      }
    }
  }
}

.flexWrapper {
  display: flex;
  justify-content: space-between;

  &Item {
    width: 100%;

    &:last-of-type {
      margin-left: 40px;
    }
  }
}

@keyframes hoverFlickering {
  0%,
  100% {
    border-color: transparent;
    box-shadow: 0 0 2px transparent, inset 0 0 2px transparent;
    filter: drop-shadow(0 0 8px transparent) drop-shadow(0 0 4px transparent)
      drop-shadow(0 0 2px transparent);
  }
  50% {
    border-color: #ebebeb;
    box-shadow: 0 0 2px rgba(#ebebeb, 1), inset 0 0 2px rgba(#ebebeb, 1);
    filter: drop-shadow(0 0 8px rgba(#ebebeb, 0.25))
      drop-shadow(0 0 4px rgba(#ebebeb, 0.25))
      drop-shadow(0 0 2px rgba(#ebebeb, 0.25));
  }
}

@media (max-width: 768px) {
  .players {
    &Controls {
      flex-direction: column;
      align-items: flex-start;

      &Button {
        margin: 0 0 20px 0;
      }

      &CheckButton {
        margin: 0 0 20px 0;
      }
    }
  }

  .flexWrapper {
    flex-direction: column-reverse;

    &Item {
      width: 100%;

      &:last-of-type {
        margin: 0 0 40px 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .flexWrapper {
    &Item {
      &:last-of-type {
        margin: 0 0 20px 0;
      }
    }
  }

  .players {
    &Controls {
      &Button {
        width: 100%;
      }
    }
  }
}
