.notations {
  display: flex;
  flex-direction: column;
}

.noteControls {
  display: flex;
  flex-wrap: wrap;

  &Player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 16px;

    &Button {
      width: 48px;
      height: 48px;
      font-size: 48px;
      background: rgba(#282828, 0.5);
      color: rgba(#ebebeb, 0.25);
      cursor: pointer;
      transition: 0.25s all ease-in-out;

      &:hover {
        color: #ebebeb;
        transition: 0.25s all ease-in-out;
      }
    }

    &Number {
      text-align: center;
      width: 48px;
      height: 48px;
      padding: 12px;
      background: rgba(#282828, 0.5);
      letter-spacing: 0.0625em;
      color: #ebebeb;
      font-size: 16px;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
    }
  }
}

.roundControls {
  display: flex;
  justify-content: space-between;

  &Button {
    position: relative;
    margin-top: 20px;
    width: 256px;
    height: 48px;
    border: 2px solid #ebebeb;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.0625em;
    color: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: -25%;
      left: -50%;
      z-index: 1;
      width: 50%;
      height: 100%;
      background: linear-gradient(
        135deg,
        rgba(#ebebeb, 0.15),
        rgba(#ebebeb, 0.05)
      );
      backdrop-filter: blur(4px);
      box-shadow: 0 0 8px rgba(#ebebeb, 1), 0 0 8px rgba(#ebebeb, 0.5),
        0 0 16px rgba(#ebebeb, 0.25);
      transition: 0.25s all ease-in-out;
      transform: rotate(135deg);
    }

    &:hover {
      &::before {
        left: 100%;
        transition: 0.25s all ease-in-out;
      }
    }

    &:last-of-type {
      margin-left: 20px;
    }
  }
}

@keyframes hoverFlickering {
  0%,
  100% {
    border-color: transparent;
    box-shadow: 0 0 2px transparent, inset 0 0 2px transparent;
    filter: drop-shadow(0 0 8px transparent) drop-shadow(0 0 4px transparent)
      drop-shadow(0 0 2px transparent);
  }
  50% {
    border-color: #ebebeb;
    box-shadow: 0 0 2px rgba(#ebebeb, 1), inset 0 0 2px rgba(#ebebeb, 1);
    filter: drop-shadow(0 0 8px rgba(#ebebeb, 0.25))
      drop-shadow(0 0 4px rgba(#ebebeb, 0.25))
      drop-shadow(0 0 2px rgba(#ebebeb, 0.25));
  }
}

@media (max-width: 576px) {
  .nextRoundButton {
    margin-top: 20px;
  }

  .roundControls {
    flex-direction: column;

    &Button {
      width: 100%;

      &:last-of-type {
        margin-left: 0;
      }
    }
  }
}
