.noteControlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  font-size: 16px;
  color: #ebebeb;
  transition: 0.25s all ease-in-out;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 16px;
  }

  &:hover {
    border-color: transparent;
    transition: 0.25s all ease-in-out;
    animation: hoverFlickering 1.5s ease-in-out infinite;
    animation-delay: 0.25s;
  }

  &.black {
    background-color: rgba(#141414, 0.5);
  }

  &.red {
    background-color: rgba(#eb0000, 0.5);
  }
}

@keyframes hoverFlickering {
  0%,
  100% {
    border-color: transparent;
    box-shadow: 0 0 2px transparent, inset 0 0 2px transparent;
    filter: drop-shadow(0 0 8px transparent) drop-shadow(0 0 4px transparent)
      drop-shadow(0 0 2px transparent);
  }
  50% {
    border-color: #ebebeb;
    box-shadow: 0 0 2px rgba(#ebebeb, 1), inset 0 0 2px rgba(#ebebeb, 1);
    filter: drop-shadow(0 0 8px rgba(#ebebeb, 0.25))
      drop-shadow(0 0 4px rgba(#ebebeb, 0.25))
      drop-shadow(0 0 2px rgba(#ebebeb, 0.25));
  }
}
