.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-top: 1px solid #3c3c3c;
  background: #282828;

  &Link {
    letter-spacing: 0.0625em;
    color: #ebebeb;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    &:hover {
      animation: hoverFlickering 1.5s ease-in-out infinite;
    }
  }
}

@keyframes hoverFlickering {
  0%,
  100% {
    filter: drop-shadow(0 0 8px transparent) drop-shadow(0 0 4px transparent)
      drop-shadow(0 0 2px transparent);
  }
  50% {
    filter: drop-shadow(0 0 8px rgba(#ebebeb, 0.25))
      drop-shadow(0 0 4px rgba(#ebebeb, 0.25))
      drop-shadow(0 0 2px rgba(#ebebeb, 0.25));
  }
}
